.vscode/
build/
include/cJSON/
include/libpng/
include/SDL3/
include/SDL3_mixer/
include/SDL3_image/
include/zlib/
include/vk_video/
include/vulkan/
include/freetype/
include/cglm/
include/box2d/
include/tinyobj_loader/
lib/
out/
run/
test/
vulkan_info.txt
vulkan_info2.txt
shader.bat
move_lib.lnk
move_lib.ps1
.VSCodeCounter/
examples/
examples.7z
box2d_src/
tiled_script/node_modules
project_graph_script/